<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921319594943-tjj00gtf3qus6r5e0osc974vc66toutg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921319594943-tjj00gtf3qus6r5e0osc974vc66toutg</string>
	<key>API_KEY</key>
	<string>AIzaSyCJqRoPvJ-EGFHl9HTcEwQb7nOXS2iwj7g</string>
	<key>GCM_SENDER_ID</key>
	<string>921319594943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marine</string>
	<key>PROJECT_ID</key>
	<string>marine-276aa</string>
	<key>STORAGE_BUCKET</key>
	<string>marine-276aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921319594943:ios:95ab55218e6d945aa99f0a</string>
</dict>
</plist>